#shows-div {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto; /* Set margin to auto on left and right */
    width: 80%;
    text-align: center;
}

p {
    margin: 5px 0;
}

h3 {
    margin-top: 80px;
    text-align: center;
}
